users:
  auser:
    sudouser: True
    shell: /bin/zsh
    groups:
      - admin
    ssh_auth:
      - ssh-rsa PUBLICKEYKEYKEY
    dotfiles:
      destination: '/home/auser/dotfiles'
      repository: 'git://github.com/auser/dotfiles'
      install_cmd: 'bash ./install.sh'

absent_users:
  - donald
  - bad_guy
